
$symbol-arrow-right: '.symbol--arrow-right';
#{$symbol-arrow-right}{ 
  width: 48px; 
  height: 48px;
}

$symbol-bakery: '.symbol--bakery';
#{$symbol-bakery}{ 
  width: 70px; 
  height: 59px;
}

$symbol-beverages: '.symbol--beverages';
#{$symbol-beverages}{ 
  width: 30px; 
  height: 65px;
}

$symbol-butchery: '.symbol--butchery';
#{$symbol-butchery}{ 
  width: 60px; 
  height: 60px;
}

$symbol-cart: '.symbol--cart';
#{$symbol-cart}{ 
  width: 36px; 
  height: 36px;
}

$symbol-email: '.symbol--email';
#{$symbol-email}{ 
  width: 22px; 
  height: 18px;
}

$symbol-restaurant: '.symbol--restaurant';
#{$symbol-restaurant}{ 
  width: 67px; 
  height: 67px;
}

$symbol-retailer: '.symbol--retailer';
#{$symbol-retailer}{ 
  width: 55px; 
  height: 65px;
}

$symbol-veg: '.symbol--veg';
#{$symbol-veg}{ 
  width: 60px; 
  height: 60px;
}