$container-width: 1156px;
$text-primary: text-teal-500;
$text-secondary: text-gray-800;
$border-primary: border-teal-500;

$font-family-logo: 'Oswald', sans-serif;
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;