.banner {
    @apply w-full h-auto relative;

    &__container {      
        @apply relative;

        border-radius: 22px;

        @screen lg {
            min-height: 433px;
        }
    }
    
    &__bg {
        @apply relative  flex justify-end;

        z-index: 1;
    
        @screen md {
            @apply absolute left-0 right-0 top-0 bottom-0;
        }
    }

    &__image {

        @screen md-only {
            @apply w-3/5;
        }
        
        @screen lg-only {
            @apply w-1/2;
        }

        img {
            @apply w-full h-auto object-cover object-center;
        }
    }

    &__title {
        @apply text-dark font-bold leading-none mb-20px mt-6;

        font-size: 32px;
        
        @screen md {
            font-size: 48px;
        }
        
    }

    &__para {
        @apply text-darker font-medium mb-8;

        line-height: 1.6;
        letter-spacing: 0.025rem;
    }

    &__content {
        @apply relative w-full h-full flex flex-col justify-center items-start ;
        
        z-index: 10;

        @screen sm-max {
            transform: translateY(38px);
        }
        
        @screen md-max {
            @apply px-5;
        }
        
        @screen md-only {
            @apply pt-4 pb-10 px-10;
            max-width: 350px;
        }

        @screen lg {
            @apply py-12;
            max-width:400px;
            padding-left:66px;
        }
    }
}