.section--contact-form {
    @apply pt-24 pb-16 px-0;

    @screen md {
        @apply pt-32;
    }

    .section {
      &__content {
        @apply px-0;
        max-width: 770px;
      }
    }
  }
  
  .contact-form {
    @apply flex flex-wrap justify-evenly items-start pb-4;
    @apply relative;
    z-index: 1;

    input[type="checkbox"],
    input[type="radio"] {
      @apply relative mr-3;

      &:before,
      &:after {
        @apply absolute cursor-pointer bg-white;
        content: "";
        top:50%;
      }
    }

    input[type="checkbox"] {

      &:before {
        @apply rounded border-2 border-primary;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
      }
    

      &:checked {
        &:before,
        &:after {
          @apply bg-primary;
        }
        
        &:after {
          border-left: 3px solid #ffffff;
          border-bottom: 3px solid #ffffff;
          width: 14px;
          height: 7px;
        
          left: 50%;
          transform-origin: left;
          transform: rotate(-45deg) translate(-25%, -50%);
        }
      }
    }

    input[type="radio"] {
      &:before,
      &:after {
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
      
      &:before {
        @apply border-2 border-gray-dark;
        width: 18px;
        height: 18px;
      }
    

      &:checked {
        &:before {
          @apply border-primary;
        }

        &:after {
          @apply bg-primary;
          width: 9px;
          height: 9px;
        }
      }
    }

    
    &--footer {
      @apply pt-16;
    }

    &__header {
      @apply pt-16 pb-8 px-6 text-4xl font-bold w-full;

      @screen xs-max {
        @apply text-center;
      }
    }


    &__field {
      @apply w-full px-4 mb-6 flex flex-wrap items-start;
      
      @screen sm {
        @apply w-1/2;
      }

      &--textarea,
      &--select,
      &--gdpr,
      &--submit {
        @apply w-full;
      }

      &--gdpr,
      &--submit {
        @apply justify-center;
      }

      &--select {
        .contact-form {
          &__input {
            @apply appearance-none;

            option {
              @apply bg-white py-5;
            }
          }
        }
      }


      &--gdpr {
        .contact-form {
          &__error {
            @apply text-center;
          }
       
          &__label {
            @apply flex items-center;

            a {
              @apply underline;
            }
          }

          &__input {
            @apply cursor-pointer;
            width: 30px;

            @screen sm-max {
              @apply mr-3;
            }
          }
        }
      }

    }

    &__field-group {
      @apply w-full;
      
      p {
        @apply mb-3 flex items-center;
      }

      input {
        @apply ml-2;
      }

      span {
        @apply pl-2;
      }

      

      &--styled {
        @apply flex flex-wrap;
        
        p {
          @apply w-full py-3 relative px-3;

          min-height: 60px;

          @screen sm {
            @apply w-1/2;
          }
        }

        input[type="radio"] {
          &:before {
            @apply border;
            width: 24px;
            height: 24px;
          }

          &:after {
            border-radius: 0;
          }
  
          &:checked {
            &:before,
            &::after {
              @apply bg-white;
            }

            &:after {
              border-left: 0.165rem solid theme('colors.primary.default');
              border-bottom: 0.165rem solid theme('colors.primary.default');
              width: 14px;
              height: 7px;
          
              left: 50%;
              transform-origin: left;
              transform: rotate(-45deg) translate(-25%, -50%);
            }

            + span {
              @apply text-white;

              &:before {
                @apply absolute left-0 right-0 top-0 bottom-0;
                @apply bg-primary rounded-md;
                content: "";
                z-index: -10;
              }
            }
          }
        }
      }
    }

    &__label {
      @apply mb-3 font-medium text-gray-dark;
    }
  
    &__input {
      @apply bg-gray-lighter py-4 px-4 rounded-md w-full;
      &:focus {
        @apply outline-none shadow-sm shadow-inner;
      }
    }

    &__error {
      @apply w-full px-3 mt-2 text-sm text-red-500;
    }
  
    &__submit {
      @apply font-bold rounded-md bg-primary text-white py-4 px-8 text-center;
      @apply cursor-pointer;

      min-width: 200px;
  
      &:hover,
      &:focus {
          @apply bg-primary-dark;
      }
    }

    &__acknowlegement, 
    &__spinner {
      @apply absolute right-0 top-0 left-0 bottom-0 bg-white;
      @apply flex justify-center items-center;
      @apply text-primary text-3xl font-semibold text-center;
      
      z-index: 10;
    }
    
    &__spinner {
      @apply opacity-75;
    }

    &__row {
      @apply w-full flex flex-wrap px-3;

      &--footer {
        @apply items-center;

        .contact-form__field {

          @screen md {
            @apply mb-0;

            &--gdpr {
              @apply flex-1 pt-5;
            }
  
            &--submit {
              width: 300px;
            }
          }          
        }
      }
    }

    &__col {
      @apply flex flex-wrap items-start;

      &--lg {
        @apply w-full;

        @screen md {
          @apply w-3/5;
        }
      }

      &--sm {
        @apply w-full;
        
        @screen md {
          @apply w-2/5;
        }
      }
    }    
  }

.loader,
.loader:before,
.loader:after {
  @apply bg-gray-dark;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  @apply text-gray-dark;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
