.section--contact-form {
    @apply pt-24 pb-16 px-0;

    @screen md {
        @apply pt-32;
    }

    .section {
      &__content {
        @apply px-0;
        max-width: 770px;
      }
    }
  }
  
  .contact-form {
    @apply flex flex-wrap justify-evenly items-start pb-4;
    @apply relative;
    z-index: 1;
    
    &--footer {
      @apply pt-16;
    }

    &__header {
      @apply pt-16 pb-8 px-6 w-full;

      @screen xs-max {
        @apply text-center;
      }
    }

    &__title {
      @apply text-4xl font-bold mb-4;
      line-height: 1.2;
    }

    &__subtitle {
      @apply text-lg;
      letter-spacing: 0.5px;
    }


    &__field {
      @apply w-full px-4 mb-6 flex flex-wrap items-start;
      
      @screen sm {
        @apply w-1/2;
      }

      &--textarea,
      &--select,
      &--gdpr,
      &--submit {
        @apply w-full;
      }

      &--gdpr,
      &--submit {
        @apply justify-center;
      }

      &--select {
        .contact-form {
          &__input {
            @apply appearance-none;

            option {
              @apply bg-white py-5;
            }
          }
        }
      }


      &--gdpr {
        .contact-form {
          &__error {
            @apply text-center;
          }
       
          &__label {
            @apply flex items-center;

            a {
              @apply underline;
            }
          }

          &__label-text {
            @screen sm-max {
              @apply ml-3;
            }
          }
        }
      }

    }

    &__field-group {
      @apply w-full;
      
      p {
        @apply mb-3 flex items-center;
      }

      &--business {
        @apply flex flex-wrap;

        p {
            @apply w-full relative pl-1 pr-3;
  
            min-height: 60px;
  
            @screen sm {
              @apply w-1/2;
            }
          }
      }
    }

    &__label {
      @apply mb-3 font-medium text-gray-dark;
    }
  
    &__input {
      @apply bg-gray-lighter py-4 px-4 rounded-md w-full;
      &:focus {
        @apply outline-none shadow-sm shadow-inner;
      }
    }

    &__error {
      @apply w-full px-3 mt-2 text-sm text-red-500;
    }
  
    &__submit {
      @apply font-bold rounded-md bg-primary text-white py-4 px-8 text-center;
      @apply cursor-pointer;

      min-width: 200px;
  
      &:hover,
      &:focus {
          @apply bg-primary-dark;
      }
    }

    &__acknowlegement, 
    &__spinner {
      @apply absolute right-0 top-0 left-0 bottom-0 bg-white;
      @apply flex justify-center items-center;
      @apply text-primary text-3xl font-semibold text-center;
      
      z-index: 10;
    }
    
    &__spinner {
      @apply opacity-75;
    }

    &__row {
      @apply w-full flex flex-wrap px-3;

      &--footer {
        @apply relative items-center pt-8;

        @screen sm {
          @apply pt-3;
        }

        &::before {
          @apply absolute top-0 border-t border-gray-light;
          content: "";
          left: -15px;
          right: -15px;
        }

        .contact-form__field {

          @screen md {
            @apply mb-0;

            &--gdpr {
              @apply flex-1 pt-5;
            }
  
            &--submit {
              width: 300px;
            }
          }          
        }
      }
    }

    &__col {
      @apply flex flex-wrap items-start;

      &--lg {
        @apply w-full;

        @screen md {
          @apply w-3/5;
        }
      }

      &--sm {
        @apply w-full;
        
        @screen md {
          @apply w-2/5;
        }
      }
    }    
  }
