body, html {
    font-family: $font-family-primary;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

/*
 * Fortunately, users in some browsers/operating systems 
 * can express their preference for reduced motion 
 * effects with the Reduce Motion API. 
 * We can listen for that setting in our CSS, 
 * and turn off smooth scrolling for them.
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.scroll-lock {
    @screen md-max {
        overflow: hidden;
    }
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.transition {
    @apply transition-all duration-300 ease-out;
}