body, html {
    font-family: $font-family-secondary;
    font-size: 15px;
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.transition {
    @apply transition-all duration-300 ease-out;
}