
@mixin hamburgerMenu($hamburger-size: 35) {
    @apply relative cursor-pointer overflow-visible;
    
    width: #{$hamburger-size}px;
    height: #{$hamburger-size}px;
    z-index: 1001;
    
    > span {

        top: 50%;
        transform: translate(0, 50%) rotate(0deg);
        transition: transform 0.3s ease-in, 
                    background-color 0.3s ease-in;

        &, 
        &:before,
        &:after {
            @apply absolute w-full rounded-full bg-primary;
            height: 3px;
            transform-origin: center center;
        }

        &:before,
        &:after {
            content: "";
        }

        &:before {
            opacity: 1;
            top: #{-$hamburger-size/3}px;
            transform:  rotate(0deg);
            transition: top 0.1s ease-in 0.3s,
                        background-color 0.3s ease-in,
                        opacity 0.1s ease-in 0.12s;
        }

        &:after {
            bottom: #{-$hamburger-size/3}px;
            transform: rotate(0deg);
            transition: transform 0.3s ease-out,
                        background-color 0.3s ease-in,
                        bottom 0.1s ease-in 0.32s;
        }
    }

    &[data-expanded="true"] {
        > span {
            transform: translate(0, 50%) rotate(-225deg);
            transition: transform 0.3s  ease-out 0.12s,
                        background-color 0.3s ease-out 0.12s;

            &, 
            &:before,
            &:after {
                @apply bg-white;
            }

            &:before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out,
                            opacity 0.1s ease-out,
                            background-color 0.3s ease-out 0.12s;
            }
    
            &:after {
                bottom: 0;
                transform: rotate(90deg);
                transition: bottom 0.1s ease-out,
                            background-color 0.3s ease-out 0.12s,
                            transform 0.3s ease-out 0.12s;
            }
        }
    }
}

@keyframes slideIn {
    0% { transform: translateY(-100%);}
    100% { transform: translateY(0%); }
}

.header {
    $root: &;

    @apply px-5;
    @apply bg-white;

    z-index: 999;

    @screen md {
        @apply px-6;
    }

    &--fixed {
        @apply fixed left-0 right-0 top-0 w-screen shadow;
        animation: slideIn 0.3s ease-out 0s forwards;
  
        #{$root}__nav {
          @apply py-3;
        }
    }

    &,
    &__nav {
        @apply w-full;
    }

    &__nav {
        @apply flex items-start justify-between mx-auto relative pb-20px;
        
        max-width: $container-width;
        padding-top: 24px;

        @screen iphone5 {
            @apply items-center;
        }

        @screen lg {
            padding-top: 45px;
        }
    }

    &__menu {
        @apply pr-1;

        @screen lg {
            @apply mr-6;
        }
    }

    &__actions {
        @apply relative flex items-center;
    }

    &__cta {
        @apply rounded bg-primary text-white font-medium text-center;

        @screen xs-max {
            @apply hidden;
        }

        @screen sm-max {
            padding: 10px 17px;
        }
        
        @screen md {
            padding: 9px 31px;
        }

        &:hover,
        &:focus {
            @apply bg-primary-dark;
        }
    }

    &__menu-toggle {
        @include hamburgerMenu
        
        @screen md-max {
            @apply ml-5;
        }

        @screen lg {
            @apply hidden;
        }
    }
}

.header-menu {    
    &__bg {
        @apply bg-primary;
        @apply absolute;
        width: 250vh;
        height: 250vh;
        border-radius: 50%;
        z-index: 1;
        transform-origin: center;
    }

    &__container {
        @apply relative h-full w-full;
        @apply flex items-center justify-center;
        z-index: 10;
    }

    &__item {
        @apply px-3;

        @screen md-max {
            @apply mb-5;
        }
    }
    &__link {
        @apply font-medium;
        font-size: 15px;
    }

    &--ls {
        @screen md-max {
            @apply hidden;
        }

        @screen lg {
            @apply flex justify-evenly;
        }
    }

    &--ss {
        @apply hidden;

        @screen md-max {
            @apply fixed top-0 left-0 right-0 bottom-0 h-screen;
            z-index: 999;
        }

        @screen lg {
            display: none !important;
        }
        
        .header-menu__container {
            @apply  flex-col;
        }

        &[data-expanded="true"] {
            .header-menu__link {
                @apply text-white;
            }
        }
    }
   
}