.header {
    @apply px-6;

    &,
    &__nav {
        @apply w-full;
    }

    &__nav {
        @apply flex items-center mx-auto relative pb-20px;
        
        max-width: $container-width;
        padding-top: 55px;;
        
        @screen md-max {
            @apply flex-col;
        }
        
        @screen lg {
            @apply justify-between;
        }
    }

    &__menu {
        @apply pr-5;
    }

    &__actions {
        @apply flex items-center;
    }

    &__cta {
        @apply rounded bg-primary text-white font-bold;

        padding: 10px 30px;

        .symbol {
            @apply mr-1;
        }

        &:hover,
        &:focus {
            @apply bg-primary text-white;
        }
    }
}

.header-menu {
    @apply flex justify-evenly;
    &__item {
        @apply px-5;
    }
    &__link {
        @apply font-semibold;
        font-size: 15px;
    }
}