.hero {
    $hero: &;

    @apply w-full h-auto relative pt-10;

    &__container {      
        @apply relative w-full h-full flex items-start mx-auto;

        max-width: $container-width;
    }
    
    &__main {
        @apply flex-1 flex items-center;
    }

    &__sidebar {
        @apply w-full pl-5 pr-10 flex flex-col items-center;

        max-width: 380px;
    }

    &__image {
        @apply w-full;

        max-width: 240px;

        img {
            @apply w-full h-auto object-cover object-center;
        }
    }

    &__content {
        @apply flex flex-col p-10 bg-orange-100 w-full;

        border-radius: 12px;

        @screen lg {
            max-width: 775px;
        }
    }

    &__title {
        @apply mb-5 font-medium text-left text-2xl;

        letter-spacing: 1px;
        line-height: 1;
    }

    &__subtitle {
        @apply mb-6 text-lg leading-loose pr-5;
    }

    
    &__cta {
        @apply inline-flex self-end justify-center items-center text-2xl rounded bg-teal-500 text-white py-3 px-6;
        @apply transition-all duration-300 ease-out;

        @screen lg {
            margin-top: -45px;
        }
    }


    &__sidebar-title {
        @apply font-medium text-xl mb-10;
    }

    &__client {
        @apply mb-12;
    }

    &__sidebar-cta {
        @apply px-8 py-3 border-2 border-teal-500 rounded-md;

        &:hover,
        &:focus {
            @apply bg-teal-500 text-white;
        }
    }
}
