.section {
    @apply px-4;

    @screen md {
        @apply px-6;
    }

    &__container {
        @apply w-full mx-auto;

        max-width: $container-width;
    }

    &__title {
        @apply font-semibold mb-6 text-center leading-tight;

        font-size: 36px;

        @screen md {
            font-size: 40px;
        }
    }

    &__subtitle {
        @apply w-full text-center mx-auto;

        letter-spacing: 0.5px;
        max-width: 600px;
    }

    &__content {
        @apply w-full mx-auto;

        @screen md-max {
            @apply px-6;
        }
    }

    &--page {
        @apply min-h-full w-full pt-10;

        @screen lg {
            @apply min-h-screen;
        }
    }

    &--privacy {

        .page__content {
            @apply pl-8;
        }
    }
}