.site {
    @apply w-full h-full relative bg-white mx-auto;

    max-width: $container-width + 60px;
    
    @screen lg {
        @apply shadow-xl py-4;
        border-radius: 40px;
    }

    &__header {
        @apply relative;
    }

    &__footer {
        @apply relative;
    }

    &__main {
        @apply w-full;
    }

    &__info {
        @screen sm-max {
            @apply text-center mb-6;
        }

        &:hover {
            @apply text-teal-500;
        }
    }

    &__title {
        @apply text-4xl w-full my-1 leading-none font-medium;
    }

    &__slogan {
        @apply w-full;
        
        margin-top: 1px;
    }

    &__langswitcher {
        @apply px-1 bg-white border border-teal-500 rounded;
        
        height: 35px;
        transform: translateY(5px);

        @screen xs {
            @apply mr-5;
        }
    }
}