.site {
    @apply w-full h-full relative bg-white mx-auto;

    &__header {
        @apply relative;
    }

    &__footer {
        @apply relative;
    }

    &__main {
        @apply w-full;

        .body--has-fixed-header & {
            padding-top: 100px;

            @screen lg {
                padding-top: 120px;
            }
        }
    }

    &__info {
        min-width: 220px;
        width: 200px;

        @screen iphone5-max {
            @apply mb-4;
            min-width: 180px;
            width: 180px;
        }
    }

    &__title {
        @apply w-full mt-2 leading-none font-bold text-primary-dark text-left;

        font-size: 26px;
    }

    &__slogan {
        @apply w-full uppercase font-bold text-left;

        font-size: 10px;
        letter-spacing: 0.325rem;

        @screen sm {
            @apply text-right;
        }
    }

    &__langswitcher {
        @apply px-2 py-1 mr-3 bg-white border-2 border-primary rounded appearance-none font-medium;
        @apply box-border;
        

        @screen xs-max {
            @apply mr-0 mt-2;
        }

        &:focus {
            @apply outline-none;
        }
    }
}