.easy-setup {
    @apply relative text-white pt-32 pb-10;

    &:before {
        @apply absolute left-0 right-0 bg-primary;
        top: 60px;
        bottom: -40px;
        content: "";
        z-index: 1;
    }

    &__title {
        @apply relative w-full font-semibold text-center mb-16 leading-tight;
        font-size: 36px;
        z-index: 10;

        @screen md {
            font-size: 40px;
        }
    }

    &__steps {
        @apply relative w-full flex items-start ;
        z-index: 20;

        @screen md-max {
            @apply flex-wrap justify-center;
        }

        @screen lg {
            @apply justify-between;
        }
    }

    &__step {
        @apply w-full mb-24 px-6;
        max-width: 350px;

        .symbol--shop {
            transform: translateY(-22px);
        }

        @screen md-max {
            @apply text-center;
        }
    }

    &__step-icon {
        @apply flex items-start;
        min-height: 90px;

        @screen md-max {
            @apply justify-center;
        }
    }

    &__step-title {
        @apply font-semibold mb-3;
        font-size: 1.75rem;
    }

    &__step-description {}

    &__cta-wrapper {
        @apply relative flex justify-center;
        z-index: 30;
    }
}