.hero {
    $hero: &;

    @apply pt-1;
 
    @screen lg {
        @apply pt-3;
        padding-bottom: 55px;
    }


    &__container {
        background-color: rgba(#38B2AC, 0.12);
        
        @screen sm-max {
            @apply pb-2;
        }
        
    }

    &__image {
        
        @screen sm-max {
            @apply px-3;

            transform: translate(0,82px);
        }

        @screen md-only {
            transform: translate(-20px,100px);
        }

        @screen lg {
            transform: translate(-23px, 19px);
        }

    }
}
