.services {
    @apply py-16;

    

    &__subtitle {
        @apply text-lg;
        
        @screen sm-max {
            @apply text-center;
        }
    }

    &__content {
        @apply pt-10 flex items-center;
    }

    &__list {
        @apply w-full flex;
    }

    &__item {
        @apply w-1/6;
    }

    &__footer {
        @apply flex justify-center pt-16;
    }
}

.service-block {
    @apply w-full flex flex-col items-center mx-auto;
    @apply cursor-pointer;


    &__icon {
        @apply mb-10 flex justify-center items-center w-full;

        max-width: 160px;
        height: 160px;
        border-radius: 10px;
        background-color: rgba(#38B2AC, 0.12);
    }

    &__label {
        @apply font-semibold text-center;
    }
}

.services-modal {
    @apply px-6 py-12 flex flex-col items-center;

    @screen md {
        @apply px-10;
    }

    &__title {
        @apply text-4xl font-medium text-primary my-4 text-center;
    }

    &__subtitle {
        @apply text-center text-xl mb-8 font-medium;
    }

    &__cta {
        @apply border-2 border-primary px-8 py-3 rounded-full my-6;
    }
}

.v--modal-overlay .v--modal-box {
    border-radius: 30px;
}